name: Deploy PUSH to DEV

on:
  push:
    branches:
      - nearform

jobs:
  deploy-cti:
    name: Deploy to CTI
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: '12.13.1'

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.CTI_DEV_KEY }}
        aws-secret-access-key: ${{ secrets.CTI_DEV_SECRET }}
        aws-region: eu-west-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push PUSH image to Amazon ECR
      id: build-push-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: fight-together/push
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:latest
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
        echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"

    - name: Pull PUSH service current task definition
      run: |
        aws ecs describe-task-definition --task-definition dev-fight-together-push --query taskDefinition > push-task-definition.json

    - name: Update PUSH container version in task definition
      id: push-task-def
      uses: aws-actions/amazon-ecs-render-task-definition@v1
      with:
        task-definition: push-task-definition.json
        container-name: push
        image: ${{ steps.build-push-image.outputs.image }}

    - name: Deploy PUSH service
      uses: aws-actions/amazon-ecs-deploy-task-definition@v1
      with:
        task-definition: ${{ steps.push-task-def.outputs.task-definition }}
        service: dev-fight-together-push
        cluster: dev-fight-together
        wait-for-service-stability: true

  deploy-gi:
    name: Deploy to GI
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: '12.13.1'

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.GI_DEV_KEY }}
        aws-secret-access-key: ${{ secrets.GI_DEV_SECRET }}
        aws-region: eu-west-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push PUSH image to Amazon ECR
      id: build-push-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: gct/push
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:latest
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
        echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"

    - name: Pull PUSH service current task definition
      run: |
        aws ecs describe-task-definition --task-definition dev-gct-push --query taskDefinition > push-task-definition.json

    - name: Update PUSH container version in task definition
      id: push-task-def
      uses: aws-actions/amazon-ecs-render-task-definition@v1
      with:
        task-definition: push-task-definition.json
        container-name: push
        image: ${{ steps.build-push-image.outputs.image }}

    - name: Deploy PUSH service
      uses: aws-actions/amazon-ecs-deploy-task-definition@v1
      with:
        task-definition: ${{ steps.push-task-def.outputs.task-definition }}
        service: dev-gct-push
        cluster: dev-gct
        wait-for-service-stability: true
